<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575502116412-eimlf0qg3d681tl7m9sadbiqbb7lfv0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575502116412-eimlf0qg3d681tl7m9sadbiqbb7lfv0v</string>
	<key>API_KEY</key>
	<string>AIzaSyBGF4sVxrXciez2T06CoX9Sb26NhgYdUmk</string>
	<key>GCM_SENDER_ID</key>
	<string>575502116412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomoudemy.LoginTest3</string>
	<key>PROJECT_ID</key>
	<string>logintest3-e78ba</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest3-e78ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575502116412:ios:2e419c8ff29bc012924539</string>
	<key>DATABASE_URL</key>
	<string>https://logintest3-e78ba.firebaseio.com</string>
</dict>
</plist>